추가해야할 코드 
1. tamplate.hwp 복사해서 그 한글파일을 여는 코드
    tamplate.hwp는 양식이고 이건 건들지말고 이걸 복사해서 사용해야함
    안그러면 time 필드가 imsi필드로 바뀐상태로 tamplate이 저장됨 
    이거때문에 이상하게 데이터가 삽입된다
    
2. 혹은 처음에 초기화할때 time 필드로 초기화 시켜주는 코드를 작성한다


# 실행시 주의점 
    tamplate 형식의 한글파일을 사용해야함
    - date마다 행사데이터 row가 두개씩 있는 형식

In [36]:
# MIT License
# 
# Copyright (c) 2024 [저작권자 이름]
# 
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

In [37]:
from pyhwpx import Hwp
import win32com.client as win32
import pandas as pd
hwp = Hwp()
hwp.Open(r"../template2_Copy.hwp") # 주간행사계획 한글파일 상대경로

True

In [38]:
#전체를 time필드로 만들고 rowappend하면 안됨 -> row가 바뀔때마다 time field인덱스값도 변경됨

#처음  time column  필드값 지워놓기

def time_column_initail(): 
    hwp.set_pos(15,0,0)
    hwp.TableCellBlock() #그냥 테이블 셀 선택
    hwp.TableCellBlockExtend() #선택된셀에서 f5누른거랑 같은 기능
    hwp.TableColPageDown()
    hwp.set_cur_field_name("")   
time_column_initail()
#시간 column 전부다 선택하는 기능

In [39]:
for i in range (7):
    hwp.set_pos(15+i*13,0,0)
    print(hwp.get_pos())
    #근데 같은 월일안에서 TableLowerCell()을 실행하면 list값이 6씩증가하고 
# TableLowerCell()을 실행했을때 다른 월일 row로 넘어가면 +7이 된다
#이건 무조건 젤처음으로 실행해야됨
#15 -> 28

(15, 0, 1)
(28, 0, 1)
(41, 0, 1)
(54, 0, 1)
(67, 0, 1)
(80, 0, 1)
(93, 0, 1)

해결해야할 문제 3
한컬럼을 전부 date필드로 정한다음 row를 추가하는 함수에서 index를 +1만큼씩 더 가기
vs 
그냥 setpos로 해당 위치에 있는 셀에 필드값 설정하기

후자로 설정함 -> 전자 방식은 index값이 변화하기때문에 하면 안됨

In [40]:
# hwp.get_pos() # 위치
# 
# def cell_initialize():
#     hwp.set_pos(15,0,0) # 첫번째 시작셀
#     hwp.set_cur_field_name("time")
#     for i in range()
#

In [41]:
#데이터 전처리
df = pd.read_excel(r"../eventdummy.xlsx")
#엑셀에서 더미데이터 read
df = df.replace(r'\n', '', regex=True)
# 데이터안에 \n 다지우기

df = df.fillna(" ")  # NaN 값을 으로 채우기
df.tail()

,date,time,eventname,place,personnel,department,note
14,4. 13.(토),10:00:00,·2024년 특성화 사업 제1회차‘인문학 콘서트’,유성문화원 1층전시실,30명,문화관광과,
15,4. 13.(토),10:00:00,·행복한 문화학교 「햄스터 로봇 코딩」,유성도서관,14명,도서관운영과,
16,4. 13.(토),15:00:00,·노은도서관 동화 들려주기(Story Time),노은도서관,40명,도서관운영과,
17,4. 13.(토),15:00:00,·독서프로그램 「귀 기울여 영어동화」 영어원서 읽기,어린이영어마을도서관,10명,도서관운영과,
18,4. 14.(일),,,,,,

In [42]:
date_counts = df['date'].value_counts()
date_counts

date
4. 13.(토)     6
4. 11.(목)     4
4. 8.(월)      3
4. 12. (금)    2
4. 9.(화)      2
4. 10.(수)     1
4. 14.(일)     1
Name: count, dtype: int64

In [43]:
import re
#위에처럼 count순으로 sort된다 
#string 날짜데이터를 날짜순으로 sort하는 코드
date_counts = df['date'].value_counts().reset_index()
date_counts.columns = ['date', 'count']  # 열 이름 지정

# 월과 일만 추출하는 함수 정의
def extract_month_day(date_str):
    match = re.search(r'(\d+)\.\s*(\d+)', date_str)
    if match:
        return int(match.group(1)), int(match.group(2))  # 월, 일 반환
    return None

# 'month', 'day' 열 추가
date_counts[['month', 'day']] = date_counts['date'].apply(lambda x: pd.Series(extract_month_day(x)))

# 월과 일 기준으로 정렬
date_counts = date_counts.sort_values(by=['month', 'day']).drop(columns=['month', 'day']).reset_index(drop=True)

#date 컬럼만
date_column_df = date_counts[['date']]

# 정렬된 결과 출력
print(date_counts)

         date  count
0    4. 8.(월)      3
1    4. 9.(화)      2
2   4. 10.(수)      1
3   4. 11.(목)      4
4  4. 12. (금)      2
5   4. 13.(토)      6
6   4. 14.(일)      1

#데이터 갯수만큼 열 만듦 
위에 코드 실행하면
date 마다 데이터 갯수가 뜨는데
해당 데이터 갯수만큼 열을 나눠주는 코드

In [44]:
# print(count_value)


for index, row in date_counts.iterrows():
    pset = hwp.HParameterSet.HTableDeleteLine
    hwp.move_to_field(f'time{{{{{index}}}}}')
    print(index)
    count = row['count']
    
    if count>2 :
        for i in range(count - 2):
            hwp.TableAppendRow()
            print(f"{index}" + ": append" )
    elif (count == 2):
        continue
    else :
        hwp.TableLowerCell()
        hwp.HAction.GetDefault("TableDeleteRow", pset.HSet)
        #TLqkf
        hwp.HAction.Execute("TableDeleteRow", pset.HSet)
        print(f"{index}"+": delete" )

0
0: append
1
2
2: delete
3
3: append
3: append
4
5
5: append
5: append
5: append
5: append
6
6: delete

date제외 데이터를 전부 삽입함

In [45]:
#date 제외 데이터 넣기
df_no_date = df.drop(columns=['date'])
hwp.set_pos(15,0,0)
# 셀 전부 선택하는 코드 ->
hwp.TableCellBlock()
hwp.TableCellBlockExtend()
hwp.TableColEnd()
hwp.TableColPageDown()
# 선택된 셀을 imsi필드로 바꾸고 
hwp.set_cur_field_name("imsi")

hwp.put_field_text("imsi", df_no_date.values.flatten().tolist())

date컬럼에 date값들 집어넣는 코드    (주의사항 : 한글의 월일 column에 셀 필드값이 date로 되어야함)

In [46]:
# date 데이터 넣기
for index, row in date_column_df.iterrows():
    hwp.move_to_field(f'date{{{{{index}}}}}')
    hwp.insert_text(row['date'])
    print(row['date'])

4. 8.(월)
4. 9.(화)
4. 10.(수)
4. 11.(목)
4. 12. (금)
4. 13.(토)
4. 14.(일)

In [47]:
#hwp.MoveToField("date", True, True, False)
#-> 왜인지 모르겠지만 첫번쨰 date로 가진다 ㅇㅇ
#hwp.TableSplitCell()
# 표 나누기

In [48]:
# 적었던 필요없는 코드들
# times = (df['time'])
# for index,time in enumerate(times):
#     print(index , time)
#     hwp.put_field_text("time",f"{time}",index)

        # for i in range(7):
#     
#     hwp.move_to_field(f'time{{{{{i}}}}}')
#     hwp.insert_text(f"{i}")